:root {
--scrollbar-width: 8px;
}

::-webkit-scrollbar {
width: var(--scrollbar-width);
height: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
border-radius: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb {
border-radius: calc(var(--scrollbar-width) / 2);
border: 2px solid transparent;
background-clip: padding-box;
}